.player {
  margin-top: 100px;
  padding: 20px;
  border-radius: 8px;
  border: solid 4px #fff;
  background-color: darkgray;
  background: linear-gradient(315deg, rgb(51, 78, 86), rgb(141, 163, 187));
}

.page-main {
  margin: 0 auto;
  flex: 1 1 auto;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  color: #FFF;
}

.sound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.tools__name {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.control__play {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  background: none;
  background-image: url("../assets/play_white.svg");
  background-size: contain;
  background-repeat: no-repeat; 
  transition: 0.3s;
  filter: invert(0%) sepia(96%) saturate(16%) hue-rotate(239deg) brightness(103%) contrast(100%);
  &:hover {
    cursor: pointer;
    filter: invert(49%) sepia(38%) saturate(6579%) hue-rotate(324deg) brightness(104%) contrast(88%);
  }
}

.control__pause {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  background: none;
  background-image: url("../assets/pause_white.svg");
  background-size: contain;
  background-repeat: no-repeat; 
  transition: 0.3s;
  filter: invert(0%) sepia(96%) saturate(16%) hue-rotate(239deg) brightness(103%) contrast(100%);
  &:hover {
    cursor: pointer;
    filter: invert(49%) sepia(38%) saturate(6579%) hue-rotate(324deg) brightness(104%) contrast(88%);
  }
}

.sound__image {
  margin: 0 5px;
  width: 25px;
  height: 25px;
  background: none;
  background-image: url("../assets/sound.svg");
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
  filter: invert(100%);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 3px;
  width: 100%;
}

.timer__progress {
  background: #FFF;
  border-radius: 5px;
  width: 60%;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .progress__bar {
    background: $secondColor;
    width: 0%;
    margin: 0 2px;
    border-radius: 10px;
    height: 6px;
  }
}

.sound__progress {
  background: #FFF;
  border-radius: 5px;
  width: 40%;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .sound__bar {
    background: rgb(94, 148, 94);
    width: 100%;
    margin: 0 2px;
    border-radius: 10px;
    height: 6px;
  }
}

.tools__control {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.timer__current {
  font-size: 14px;
  overflow: hidden;
  text-align: center;
}